.error h3{
    color: rgb(54, 53, 53);
    margin-top: 3rem;
}
.error{
    align-self: auto;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 6.5rem;
    background-size: 100%;
    max-width: 100%; 
}
.example-card {
    max-width: 250px;
    max-height: 350px;
  }

.a-size-medium {
    text-rendering: optimizeLegibility;
}
.a-size-medium {
    font-size: 17px!important;
    line-height: 1.255!important;
}
.a-color-price {
    color: #B12704!important;
}
  
.error img{
    width: auto;
    height: auto;
}

/* .content{
    display: inline;
} */

/* img{
    width:auto;
    margin:0 auto;
    display:block;
    float:none;
    max-width:100%;
} */

@media only screen and (max-width: 768px)
{
    .error{
        align-self: auto;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 6.5rem;
        background-size: 100%;
        max-width: 100%; 
    }
	.error img{
        width: 100%;
        height: 100%;
    }
    
}

/************
3. 425px
************/

@media only screen and (max-width: 425px)
{
	.error img{
        width: 100%;
        height: 100%;
    }  
}

/*******************************/
.card-img-top {
    max-width: 350px;
}