<section class="container">
    <section>
        <h3>Edit the price and stock of this product:</h3>
        <h4>{{productName}}</h4>
        <p>{{desc}}</p>
    </section>
    <section>
        <form [formGroup]="editForm">
            <mat-form-field>
                <input matInput type="number" formControlName="price" id="input1" placeholder="Enter Price in Rupees per Unit">
            </mat-form-field>
            <section class="wrapper">
                <button class="btn btn-dark" (click)="doEditPrice()">Submit New Price</button>
            </section><br>
            <mat-form-field>
                <input matInput type="number" formControlName="quantity" id="input2" placeholder="Enter Quantity">
            </mat-form-field>
            <section class="wrapper">
                <button class="btn btn-dark" (click)="doEditStock()">Submit New Stock</button>
            </section>
        </form><br>
        <hr>
        <section class="wrapper">
            <button class="btn btn-dark" routerLink="/seller-dashboard-inventory" >Back to Inventory</button>
        </section><br>
    </section>
</section>