<div class="d-flex" id="wrapper">

    <!--Seller Dashboard mini-navbar-->
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" style="color: black;">Account Setting </div>

        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" style="color: black;">Home</a>
            <a (click)="goToSellerDashboardProfile()" class="list-group-item list-group-item-action bg-light" style="color: black;">My Profile</a>
            <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light" style="color: black;">Catalogue</a>
            <a (click)="goToInventory()" class="list-group-item list-group-item-action bg-light" style="color: black;">Inventory</a>
            <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light" style="color: black;">Pricing</a>
            <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light" style="color: black;">Orders</a>
            <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light" style="color: black;">Help</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToSellerDashboardProfile()" data-toggle="collapse" data-target=".navbar-collapse.show">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Catalogue</a>
                    </li>
                    <li>
                        <a class="nav-link" (click)="goToInventory()" data-toggle="collapse" data-target=".navbar-collapse.show">Inventory</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Pricing</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Orders</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Seller Dashboard mini-navbar -- End-->

        <!--Seller Dashboard Home View-->
        <!--Seller Dashboard Top Hero Unit-->
        <div class="head" style="background-color: #F5F5F5;"></div>

        <!-- <section class="container">
            <section class="row" style="padding-top: 2rem; padding-bottom: 2rem; 
            display: flex; align-items: center; font-family: sans-serif;">
                <h4 style="font-weight: 500; font-style: italic; color: black;" class="text-center w-responsive mx-auto">
                    Welcome {{seller.sellerName}}<br> 
                    ({{seller.sellerEmail}})<br>
                    <span *ngIf="init">
                        (GSTIN: {{seller.sellerGstIn}})<br>
                        (Contact: {{seller.sellerPhone}})<br>
                        (Address: {{seller.sellerAddress}})
                    </span>
                </h4>
            </section>
        </section> -->

        <section class="row d-flex flex-row justify-content-around" style="background-color: #F5F5F5; padding-top: 2rem; padding-left: 3rem; padding-right: 3rem; padding-bottom: 2rem;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image_1"></div>
                    <mat-card-title>ADD PRODUCT</mat-card-title>
                    <!-- <mat-card-subtitle>Smart Phones</mat-card-subtitle> -->
                </mat-card-header>

                <div></div>
                <img mat-card-image src="https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of an iPhone - Smart Phone">

                <mat-card-content>
                    <p>
                        Start by adding different products in your inventory to cover for some domains that have high demands. Follow it by adding products to fill the existing voids.
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image_2"></div>
                    <mat-card-title>PRODUCT DETAILS</mat-card-title>
                    <!-- <mat-card-subtitle>Headphones</mat-card-subtitle> -->
                </mat-card-header>

                <div></div>
                <img mat-card-image src="https://images.unsplash.com/photo-1526178613552-2b45c6c302f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of an Cannon Professional Camera">

                <mat-card-content>
                    <p>
                        You can add information about a product such as its price, variants, and availability from the Inventory page in the sidebar.
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image_3"></div>
                    <mat-card-title>BOOST BUSSINESS</mat-card-title>
                    <!-- <mat-card-subtitle>Headphones</mat-card-subtitle> -->
                </mat-card-header>

                <div></div>
                <img mat-card-image src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of an Cannon Professional Camera">

                <mat-card-content>
                    <p>
                        Our responsibility is to make your bussiness more successful today than it was yesterday. We grow symbiotically.
                    </p>
                </mat-card-content>
            </mat-card>
        </section>

        <!-- <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-block">
                                <h2 class="number">1.</h2>
                                <h3 class="card-title">ADD A PRODUCT</h3>
                            </div>
                            
                            <img src="assets/seller-dashboard/th27-ecommerce.jpeg" 
                            alt="Add a product" style="width: 100%;height: 60%;" />
                            
                            <div class="card-block wrapper">
                                <h5 style="color: black;">You can add information about a product such as 
                                its price, variants, and availability from the Inventory 
                                page in the sidebar.
                                </h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-block">
                                <h2 class="number">2.</h2>
                                <h3 class="card-title">ENTER PRODUCT DETAILS</h3>
                            </div>
                            
                            <img src="assets/seller-dashboard/Benefits-of-selling-products-online-in-India-800x445.jpg" alt="Enter details"style="width: 100%;height: 60%;" >
                            
                            <div class="card-block wrapper">
                                <h5 style="color: black;">You can add information about a product such as its 
                                price, variants, and availability from the Inventory page 
                                in the sidebar.</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-block">
                                <h2 class="number">3.</h2>
                                <h3 class="card-title">BOOST YOUR BUSSINESS</h3>
                            </div>
                            
                            <img src="assets/seller-dashboard/happy-selling-products-online-seller-600w-1037992996.webp" alt="Boost Your busieness"style="width: 100%;height: 60%;">
                            
                            <div class="card-block wrapper">
                                <h5 style="color: black;">Our responsibility is to make your bussiness more 
                                successful and boost your bussiness.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!--Contact form-->
        <section class="mb-4" id="contact">
            <div class="container">
                <h2 class="h1-responsive font-weight-bold text-center pt-2">
                    Update Your Details
                </h2>

                <h3 class="text-center w-responsive mx-auto mb-5">
                    To Help Us Serve You Better..
                </h3>

                <div class="row">
                    <div class="container pb-5">
                        <div class="col-md-12">
                            <form #bussinessDetailsForm (ngSubmit)="updateData()" [formGroup]="businessForm">
                                <div class="row">
                                    <!--GSTIN-->
                                    <div class="col-md-6">
                                        <div>
                                            <label for="name" class="">GSTIN</label>
                                            <input type="text" class="form-control mb-2" #GSTIN [formControlName]="'GSTIN'" placeholder="GSTIN">
                                        </div>
                                    </div>
                                    <!--GSTIN end-->
                                </div>

                                <!--Contact-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="subject" class="">Contact</label>
                                            <input type="number" class="form-control mb-2" #contact [formControlName]="'contact'" placeholder="Contact">
                                        </div>
                                    </div>
                                </div>
                                <!--Contact end-->

                                <!--Address-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="message">Your Address</label>
                                            <textarea type="text" class="form-control mb-2" #sellerAddress [formControlName]="'sellerAddress'" placeholder="Seller Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--Address end-->

                                <section class="form-row align-items-center">
                                    <section class="col-auto">
                                        <button type="submit" name="saveBtn" #saveBtn class="btn btn-primary mb-2">Save</button>
                                    </section>
                                </section>

                                <p>{{greeting}}</p>
                            </form>
                            <!--Form end-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>