<section class="super_container mt-2">    
    
  <div id="myCarousel" class="carousel slide mt-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
      
    <div class="carousel-inner">
      <div class="carousel-item active image-1">    
        
      </div>
      
      <div class="carousel-item image-2">
        

        
      </div>

      <div class="carousel-item image-3">
        

        
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
          
  <!-- Recommendations -->
  <h2 class="newsletter_title" style="text-align: center; font-size: 2rem;">Recommendations Tailored For You</h2>

  <section class="row d-flex flex-row justify-content-center" style="margin-left: 2rem; margin-right: 2rem;">
    <div *ngFor = "let recom of recoms| slice:0:5" class="col-md-3" style="margin-top: 1rem; margin-bottom: 1rem;">
      <a (click)="goToProductDetails(recom.productName)">
          <mat-card class="example-card">
              <img mat-card-image src="{{recom.productImage}}" alt="Image of Product" style="height: 90%;width: 110%;">
                  <mat-card-content>
                      <h4 style="color: black;">{{recom.productName}}</h4>  
                  </mat-card-content>
          </mat-card>
      </a>
    </div>
  </section>  

  <!-- Newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="newsletter_border"></div>
        </div>
          
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="newsletter_content text-center">
              <div class="newsletter_title">
                Subscribe to our newsletter
              </div>
                    
              <div class="newsletter_text">
                <p>We will keep you informed about our up-coming lightning 
                deals and new products that you might like. We promise that 
                we won't spam you :) You can un-subscribe later at any time 
                if you want.</p>
              </div>
              
              <div class="newsletter_form_container">
                <form action="#" id="newsletter_form" class="newsletter_form">
                  <input type="email" class="newsletter_input" required="required">
                  
                  <button class="newsletter_button trans_200">
                    <span>Subscribe</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
